:root{
    /* Font */
    --font-family: "Red Hat Display", sans-serif;
    --weight-level-1: 500;
    --weight-level-2: 900;
}

body{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:var(--font-family);
    font-weight: var(--weight-level-1);
}

h1, h2, button, strong{
    font-weight:var(--weight-level-2);
}